/* Tailwind base imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Body styles */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Utility classes */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Slider container styles (replaced with jasons) */ 
.slider-container {
  overflow-x: scroll;
  overflow-y: visible;
  scroll-snap-type: x;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
}

.slider-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers */
}

/* Slider content styles */
.slider-content {
  display:flex;
  overflow:visible;
}

/* Slider item styles (replaced with jasons)*/
.slider-content > * {
  flex: 0 0;
  scroll-snap-align: none;
  width: 250px; /* Adjust to show 1.5 cards at a time, add 1px to prevent gaps */
  margin: 0; /* Remove any default margins */
  overflow:visible;
}

/* Responsive adjustments */
@media (min-width: 0px) {
  .slider-content > * {
    width: calc(100% / 3 + 1px); /* Show 2.5 cards at a time on medium screens, add 1px to prevent gaps */
  }
}

/* Responsive adjustments */
@media (min-width: 900px) {
  .slider-content > * {
    width: calc(100% / 4 + 1px); /* Show 2.5 cards at a time on medium screens, add 1px to prevent gaps */
  }
}

@media (min-width: 1200px) {
  .slider-content > * {
    width: calc(100% / 4.5 + 2px); /* Show 3.5 cards at a time on large screens, add 1px to prevent gaps */
  }
}